:root {
  --main-color: #2196f3;
  --secondary-color: #212121;
  --background-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
}
a {
  text-decoration: none;
}
.header-contact {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.footer-contact {
  color: #757575;
}
nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
address {
  color: white;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.header-logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.footer-logo {
  color: white;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.logo-color {
  color: var(--main-color);
}
a:hover,
a:focus {
  color: var(--main-color);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--main-color);
  color: white;
}
button {
  cursor: pointer;
}
.main-title {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
dt {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
dd {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.name {
  font-weight: 500;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.occupation {
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.main-button {
  background-color: #2196f3;
  color: white;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}
.filter-button {
  background-color: #f5f4fa;
  color: var(--secondary-color);
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.main-title-section,
footer {
  background-color: var(--background-color);
}
.team-section {
  background-color: #f5f4fa;
}
